.fy-container {
  opacity: 1;
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0) 100%);
  box-shadow: rgba(255, 255, 255, 0.1) 0 0 1px 1px inset;
}

.fy-container-bg-inversed {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.70) 100%);
}

.fy-container-followed {
  opacity: 1;
  background-color: cyan;
  box-shadow: cyan 0 0 2px 4px inset;
}

.fy-container-ignored {
  opacity: 0.3;
  background-color: #ff4f4f;
}


.fy-bg-owned {
  background-color: #00ce67;
}

.fy-bg-wished {
  background-color: #0491bf;
}


/*mods per sites*/
.fy-mods-indiegala {
  margin-bottom: 0;
  padding-bottom: 20px;
}

